*{
    padding: 0;
    margin: 0;
}

main{
    width: 100vw;
    height: 100vh;
}
.container{
    background: url(/media/bg.webp) ;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
h1{
    text-shadow: 2px 2px 4px #edf9fc;
}
.pack{
    display: flex;
    gap: .8rem;
}
.input-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .2rem;
}
.input{
    padding: .7rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: .4rem;
    outline: 2px solid rgb(25, 116, 22);
}
label{
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
@media(max-width:724px){
    .pack{
        flex-direction: column;
    }
}
